html {
    user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
}

@viewport {
    zoom: 1.0; 
    min-zoom: 1.0;
    max-zoom: 1.0;
}

body {
    background-color: #E2F5E0;
    background-color: white;
 touch-action: manipulation;
    overflow-x: hidden;   
    background-color: rgb(187,194,179,29);
}

section {
    padding-bottom: 40px;
}

.content {
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: center;
}

.div-container {
    padding: 12px;
}

.section-title {
    text-align: center;
    padding-bottom: 1rem;
    display: block;
    color: #4c2e05;
}

.section-title h1 {
    font-size: calc(40px + 1.5vw);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0rem;
}

.section-title h2 {
    font-size: calc(36px + 1.5vw);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
}

p {
    margin-bottom: 0px;
    font-size: 24px;
}

.navbar {
    background-position: center;
    background-position-y: 2040px;
    background-color: rgb(24, 63, 21);
}

.navbar-brand {
    margin-right: 10px;
}

.navbar-brand img {
    contain: content;
    width: 100px;
    border-radius: 40%;
    object-fit: contain;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-brand span {
    padding-left: 5px;
    font-size: calc(20px + 1.5vw);
    vertical-align: middle;
   
}

.navbar-nav {
    font-size: 16px;
    text-align: center;

}

.nav-item {
    font-weight: 700;
    color: black;
}

.nav-item:hover {
    background-color: rgba(41, 127, 30, 0.304);
    /*border-radius: 15px;*/
}

.nav-link {
    border-right: 1px solid #000000;
    padding-left: 10px;
    padding-right: 10px;
    direction:ltr;
    align-items: center;
}

.dropdown {
    direction:rtl;
    align-items: center;
    display: grid;
    place-items: center;
}

.dropdown-menu {
    right: 0;
    float:right;
    text-align: center;
    margin-bottom: 5px;
}

.dropdown-toggle {
    border-right: 0;
}

.dropdown-menu {
    background-color: rgb(24, 63, 21);;
    direction: rtl;
    float: right;
}

.color-primary {
    color: black;
}

.color-secondary {

}


.footer {
    padding: 20px;
    padding: 20px;
    background-color: #aebd93;
    background-image: url("Assets/evergreenlogo.png");
    background-position: center;
    background-position-y: 2040px;
}

.top-footer {
    border-bottom: 1px;
    border-color: whitesmoke;
}

.footer h3 {
    color:white;
    display: inline-block;
    overflow: hidden;
}

.copyright {
    display: inline-block;
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(41, 127, 30, 0.304);
    color: black;
}

.dropdown-item {
    color:black;
}